<a href="https://colab.research.google.com/github/Mayuri-thatikonda/mayuri1/blob/main/Bodyfat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
dataset = pd.read_csv('bodyfat3.csv')
print(dataset)
print(dataset.shape)
dataset.head()

     Density  Age  Weight  Height  Neck  ...  Ankle  Biceps  Forearm  Wrist  BodyFat
0     1.0708   23  154.25   67.75  36.2  ...   21.9    32.0     27.4   17.1     12.3
1     1.0853   22  173.25   72.25  38.5  ...   23.4    30.5     28.9   18.2      6.1
2     1.0414   22  154.00   66.25  34.0  ...   24.0    28.8     25.2   16.6     25.3
3     1.0751   26  184.75   72.25  37.4  ...   22.8    32.4     29.4   18.2     10.4
4     1.0340   24  184.25   71.25  34.4  ...   24.0    32.2     27.7   17.7     28.7
..       ...  ...     ...     ...   ...  ...    ...     ...      ...    ...      ...
247   1.0736   70  134.25   67.00  34.9  ...   21.5    25.6     25.7   18.5     11.0
248   1.0236   72  201.00   69.75  40.9  ...   23.2    35.2     28.6   20.1     33.6
249   1.0328   72  186.75   66.00  38.9  ...   21.5    31.3     27.2   18.0     29.3
250   1.0399   72  190.75   70.50  38.9  ...   22.7    30.5     29.4   19.8     26.0
251   1.0271   74  207.50   70.00  40.8  ...   24.6    33.7     30.0   20.9     31.9

[252 rows x 15 columns]
(252, 15)

   Density  Age  Weight  Height  Neck  ...  Ankle  Biceps  Forearm  Wrist  BodyFat
0   1.0708   23  154.25   67.75  36.2  ...   21.9    32.0     27.4   17.1     12.3
1   1.0853   22  173.25   72.25  38.5  ...   23.4    30.5     28.9   18.2      6.1
2   1.0414   22  154.00   66.25  34.0  ...   24.0    28.8     25.2   16.6     25.3
3   1.0751   26  184.75   72.25  37.4  ...   22.8    32.4     29.4   18.2     10.4
4   1.0340   24  184.25   71.25  34.4  ...   24.0    32.2     27.7   17.7     28.7

[5 rows x 15 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Density  252 non-null    float64
 1   Age      252 non-null    int64
 2   Weight   252 non-null    float64
 3   Height   252 non-null    float64
 4   Neck     252 non-null    float64
 5   Chest    252 non-null    float64
 6   Abdomen  252 non-null    float64
 7   Hip      252 non-null    float64
 8   Thigh    252 non-null    float64
 9   Knee     252 non-null    float64
 10  Ankle    252 non-null    float64
 11  Biceps   252 non-null    float64
 12  Forearm  252 non-null    float64
 13  Wrist    252 non-null    float64
 14  BodyFat  252 non-null    float64
dtypes: float64(14), int64(1)
memory usage: 29.7 KB

In [ ]:
dataset.describe()

          Density         Age      Weight  ...     Forearm       Wrist     BodyFat
count  252.000000  252.000000  252.000000  ...  252.000000  252.000000  252.000000
mean     1.055574   44.884921  178.924405  ...   28.663889   18.229762   19.150794
std      0.019031   12.602040   29.389160  ...    2.020691    0.933585    8.368740
min      0.995000   22.000000  118.500000  ...   21.000000   15.800000    0.000000
25%      1.041400   35.750000  159.000000  ...   27.300000   17.600000   12.475000
50%      1.054900   43.000000  176.500000  ...   28.700000   18.300000   19.200000
75%      1.070400   54.000000  197.000000  ...   30.000000   18.800000   25.300000
max      1.108900   81.000000  363.150000  ...   34.900000   21.400000   47.500000

[8 rows x 15 columns]

In [ ]:
result=dataset.columns
print(result)

Index(['Density', 'Age', 'Weight', 'Height', 'Neck', 'Chest', 'Abdomen', 'Hip',
       'Thigh', 'Knee', 'Ankle', 'Biceps', 'Forearm', 'Wrist', 'BodyFat'],
      dtype='object')

In [ ]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

[[12.48 12.5 ]
 [26.67 27.  ]
 [ 3.08  3.  ]
 [20.64 20.4 ]
 [ 9.35  9.4 ]
 [22.71 23.6 ]
 [25.04 25.8 ]
 [25.48 25.2 ]
 [25.93 25.8 ]
 [27.11 27.1 ]
 [25.57 25.2 ]
 [15.99 15.4 ]
 [21.15 21.4 ]
 [20.84 20.5 ]
 [16.14 16.5 ]
 [13.3  13.5 ]
 [16.48 16.6 ]
 [ 0.78  0.7 ]
 [10.29 10.  ]
 [11.81 11.3 ]
 [20.81 20.4 ]
 [14.14 13.9 ]
 [29.36 29.9 ]
 [22.01 22.4 ]
 [19.56 19.7 ]
 [32.09 31.9 ]
 [ 4.47  4.1 ]
 [23.01 22.6 ]
 [21.43 22.  ]
 [28.16 28.4 ]
 [30.68 30.2 ]
 [26.48 27.2 ]
 [27.8  28.  ]
 [11.57 11.5 ]
 [35.79 34.3 ]
 [13.65 14.2 ]
 [24.41 23.6 ]
 [21.22 20.9 ]
 [14.99 15.6 ]
 [11.36 11.4 ]
 [17.76 17.5 ]
 [20.98 20.8 ]
 [34.98 34.8 ]
 [22.25 22.5 ]
 [20.91 20.5 ]
 [14.94 14.9 ]
 [13.01 12.4 ]
 [ 7.41  7.7 ]
 [31.73 32.3 ]
 [-4.42  0.  ]
 [ 8.96  8.8 ]]

0.9920322045008587